.main
    //- info block
    .info-block
        .info-block__accent-dot

        //- user details
        div.info-block__content

            .user-details
                .user-details__head

                    .heading-accent
                        h2.heading-accent__text About Me
                        .heading-accent__line

                .user-details__content
                    p I’m interested in various fields and disciplines,
                        | however technologies are my passion. Especially when it comes to web.
                        | My professional experience gave me the opportunity to gain strong knowledge
                        | in front-end development - landing pages, online stores, online fairs, navigation bars,
                        | banners, display fields, buttons etc. I have excellent knowledge in HTML 5, CSS, SASS
                        | and also working knowledge in jQuery, Gulp, Jade/Pug, Linux.
                        | I’m currently working on mastering back-end technologies such as
                        | NodeJs, ExpressJS and MongoDB to become a full-stack web developer
                        | utilizing the best development practices and cutting edge technologies in the branch.



    .info-block
        .info-block__accent-dot

        //- user details
        div.info-block__content

            .user-details
                .user-details__head

                    .heading-accent
                        h2.heading-accent__text Education
                        .heading-accent__line

                - for education in educations
                    .user-details__content.user-details__content--btm-offset
                        h3.heading-accent__text.heading-accent__text--h3 #{education.type}

                        ul.skills
                            li.skills__list.skills__list--tighten
                                p.skills__title.skills__title--tighten Institution:
                                p.skills__content #{education.institution.name}

                            li.skills__list.skills__list--tighten
                                p.skills__title.skills__title--tighten Subject:
                                p.skills__content #{education.topic}

                            li.skills__list.skills__list--tighten
                                p.skills__title.skills__title--tighten Date:
                                if (education.endDate !== "")
                                    p.skills__content #{education.startDate} - #{education.endDate}
                                else
                                    p.skills__content #{education.startDate}


    .info-block
        .info-block__accent-dot

        //- user details
        div.info-block__content

            .user-details
                .user-details__head

                    .heading-accent
                        h2.heading-accent__text Employment
                        .heading-accent__line

                - for work in workExperience
                    .user-details__content.user-details__content--btm-offset
                        h3.heading-accent__text.heading-accent__text--h3 #{work.position}

                        ul.skills
                            li.skills__list.skills__list--tighten
                                p.skills__title.skills__title--tighten Company:
                                p.skills__content #{work.employer.name}

                            li.skills__list.skills__list--tighten
                                p.skills__title.skills__title--tighten Date:
                                if (work.endDate !== "")
                                    p.skills__content #{work.startDate} - #{work.endDate}
                                else
                                    p.skills__content #{work.startDate}

